.choice{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: #FA7F1E;
    transition: all 1s;
    &__text {
        position: absolute;
        margin-left: 240px;
        width: 140px;
        text-align: left;
        transition: all 1s;
    }
}

.first-choice{
    position: absolute;
    display: flex;
    margin-bottom: 200px;
    transition: all 1s;
}
.second-choice{
    position: absolute;
    display: flex;
    margin-left: 200px;
    transition: all 1s;
}
.third-choice{
    position: absolute;
    display: flex;
    margin-top: 200px;
    transition: all 1s;
}
.fourth-choice{
    position: absolute;
    display: flex;
    margin-right: 200px;
    transition: all 1s;
    &__text{
        margin-right: 240px;
        margin-left: 0;
        text-align: right;
        transition: all 1s;
    }
}

